<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body onload="onLoad()">
<div class="">
    <div class="logo-container p-3 mb-2 bg-success text-white  d-flex justify-content-between mb-3">
        <span>mudi</span>
        <span class="mt-3">
      <a class="text-light" sec:authorize="!isAuthenticated()" href="/login">login</a>
      <a onclick="document.querySelector('#form-login').submit()" class="text-light" sec:authorize="isAuthenticated()" href="#">logout</a>
      <form id="form-login" th:action="@{/logout}" method="post"></form>
    </span>
    </div>
    <div class="row mb-2">
        <div class="col">
            <nav class="nav">
                <a class="nav-link" th:href="@{/home}">Home</a>
                <a class="nav-link" th:href="@{/usuario/pedido}">Meus Pedidos</a>
                <a class="nav-link" th:href="@{/oferta}">Faça sua Oferta</a>

            </nav>
        </div>
    </div>
</div>
<div class="container" id="ofertas">
    <div class="jumbotron p-3 mb-2  bg-light text-dark d-flex justify-content-between mb-3">
        <h1 class="display-4 $gray-200">Faça sua Oferta</h1>
    </div>

    <div class="card mb-3"  v-for="pedido in pedidos">
        <div class="card-header alert-dark">{{pedido.nomeProduto}}</div>

        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 mb-3">

                    <div>Produto</div>
                    <div><a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>

                    <div>Descrição</div>
                    <div>
                        <textarea disabled="disabled" class="form-control">{{pedido.descricao}}</textarea>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6"> Valor: <input v-bind:class="{'is-invalid':pedido.erros.valor !==''}" class="form-control" v-model="pedido.valorNegociado"/>
                            <div v-if="pedido.erros.valor" class="invalid-feedback" >
                                {{pedido.erros.valor}}
                            </div></div>
                        <div class="col-md-6" >Data da entrega: <input v-bind:class="{'is-invalid':pedido.erros.dataDaEntrega !==''}" class="form-control" v-model="pedido.dataDaEntrega"/>
                            <div v-if="pedido.erros.dataDaEntrega" class="invalid-feedback">
                                {{pedido.erros.dataDaEntrega}}
                            </div></div>
                    </div>

                    <div class="mt-2">
                        <label>Cometário</label>
                        <textarea class="form-control" v-model="pedido.comentario"></textarea>
                    </div>
                    <button v-if="pedido.ofertaEnviada" class="btn btn-success mt-2">Oferta Enviada</button>
                    <button v-else v-on:click="enviarOferta(pedido)" class="btn btn-primary mt-2">Enviar Oferta</button>
                </div>
                <div class="col-12 col-sm-4">
                    <div>
                        <img class="img-thumbnail" v-bind:src="pedido.urlImagem"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
			function onLoad() {
				var app = new Vue(
				{
					el : '#ofertas',
					data : {
						pedidos : []
					},
					mounted () {
						axios
					      .get('http://localhost:8080/api/pedidos/aguardando')
					      .then(response => {
					    	  	response.data.forEach(pedido =>{
					    	  		pedido.ofertaEnviada = false;
					    	  		pedido.erros = {
					    	  			valor: '',
					    	  			dataDaEntrega: ''
					    	  		}
					    	  	})
					    	 	this.pedidos = response.data
					    	})
					},
					methods: {
						enviarOferta: function(pedido) {
							pedido.erros = {
			    	  			valor: '',
			    	  			dataDaEntrega: ''
			    	  		};

							axios
						      .post('http://localhost:8080/api/ofertas', {
						    	  pedidoId: pedido.id,
						    	  valor: pedido.valorNegociado,
						    	  dataDaEntrega: pedido.dataDaEntrega,
						    	  comentario: pedido.comentario
						      })
						      .then(response => pedido.ofertaEnviada = true)
						      .catch(error => {
						    	  error.response.data.errors.forEach(error => {
						    		  pedido.erros[error.field] = error.defaultMessage;
						    	  })
						      })
						}
					}
				});
			}
		</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>